*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.125rem;
  background-color: #0f1419;
  color: #e4e2da;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

a {
  color: #39bae6;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #2b2f36;
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

::selection {
  background-color: #39bae6;
  color: #0f1419;
}
